
This is the url to obtain each image. Change the #######.jpg to the number of the image to access different images.

https://cxacyhoghhzisqxuwspe.supabase.co/storage/v1/object/public/aircraft/images/0034309.jpg

In [118]:
import pandas as pd
import os
import sys
from functools import reduce
#use the below line in an ide other than Jupyter
#current_dir = os.path.dirname(os.path.abspath(__file__))
#use the below line in Jupyter

current_dir = os.getcwd()



data_dir = os.path.join(current_dir, '..', 'data') #defines the data_dir

#First, check the existence of the data directory and if it doesn't exist, create it
if not os.path.exists(data_dir):
    # os.makedirs(data_dir)
    print(f"""
    Directory doesn't exist: {data_dir}. 
    Ensure your data directory is in
    a sister folder to the folder containing
    the Jupyter file.
    The current location of your Jupyter file is {current_dir}.
    Recommend creating the following data directory:
    {os.path.abspath(data_dir)}.
    
    """)
    sys.exit(1) #exits the code if it cannot find the data directory.


boxes_file_path = os.path.join(data_dir, 'images_box.txt')


#this file provides bounding box coordinates where their classifier focused
#these apply to all images and so do not have train/test/val split
with open(boxes_file_path, 'r') as boxes:
    img_boxes = [line.strip().split(' ') for line in boxes]
df_img_boxes = pd.DataFrame(img_boxes, columns=['image_index', 'bound_box_x1', 'bound_box_y1', 'bound_box_x2', 'bound_box_y2'])

#this file adds a manufacturer, family, and variant dataframe
#the train/test/validate labels are provided as the split used by the dataset provider

####FAMILY LABELS###
#family_test_label
family_test_file_path = os.path.join(data_dir, 'images_family_test.txt')
with open(family_test_file_path, 'r') as fam_test:
    img_fam_test = [line.strip().split(' ', 1) for line in fam_test]

df_fam_test = pd.DataFrame(img_fam_test, columns=['image_index', 'family_test'])
#family_train_label
family_train_file_path = os.path.join(data_dir, 'images_family_train.txt')
with open(family_train_file_path, 'r') as fam_train:
    img_fam_train = [line.strip().split(' ', 1) for line in fam_train]
df_fam_train = pd.DataFrame(img_fam_train, columns=['image_index', 'family_train'])
#family_trainval_label
family_trainval_file_path = os.path.join(data_dir, 'images_family_trainval.txt')
with open(family_trainval_file_path, 'r') as fam_trainval:
    img_fam_trainval = [line.strip().split(' ', 1) for line in fam_trainval]
df_fam_trainval = pd.DataFrame(img_fam_trainval, columns=['image_index', 'family_trainval'])
#family_validate_label
family_val_file_path = os.path.join(data_dir, 'images_family_val.txt')
with open(family_trainval_file_path, 'r') as fam_val:
    img_fam_val = [line.strip().split(' ', 1) for line in fam_val]
df_fam_val = pd.DataFrame(img_fam_val, columns=['image_index', 'family_val'])


####VARIANT LABELS####
#variant_test_label
variant_test_file_path = os.path.join(data_dir, 'images_variant_test.txt')
with open(variant_test_file_path, 'r') as var_test:
    img_var_test = [line.strip().split(' ', 1) for line in var_test]
df_var_test = pd.DataFrame(img_var_test, columns=['image_index', 'variant_test'])
#variant_train_label
variant_train_file_path = os.path.join(data_dir, 'images_variant_train.txt')
with open(variant_train_file_path, 'r') as var_train:
    img_var_train = [line.strip().split(' ', 1) for line in var_train]
#variant_trainval_label
df_var_train = pd.DataFrame(img_var_train, columns=['image_index', 'variant_train'])
variant_trainval_file_path = os.path.join(data_dir, 'images_variant_trainval.txt')
with open(variant_trainval_file_path, 'r') as var_trainval:
    img_var_trainval = [line.strip().split(' ', 1) for line in var_trainval]
df_var_trainval = pd.DataFrame(img_var_trainval, columns=['image_index','variant_trainval'])
#variant_validate_label
variant_val_file_path = os.path.join(data_dir, 'images_variant_val.txt')
with open(variant_val_file_path, 'r') as var_val:
    img_var_val = [line.strip().split(' ', 1) for line in var_val]
df_var_val = pd.DataFrame(img_var_val, columns=['image_index','variant_val'])


####MANUFACTURER LABELS####
#manufacturer_test_label
manufacturer_test_file_path = os.path.join(data_dir, 'images_manufacturer_test.txt')
with open(manufacturer_test_file_path, 'r') as man_test:
    img_man_test = [line.strip().split(' ', 1) for line in man_test]
df_man_test = pd.DataFrame(img_var_test, columns=['image_index', 'manufacturer_test'])
#manufacturer_train_label
manufacturer_train_file_path = os.path.join(data_dir, 'images_manufacturer_train.txt')
with open(manufacturer_train_file_path, 'r') as man_train:
    img_man_train = [line.strip().split(' ', 1) for line in man_train]
df_man_train = pd.DataFrame(img_man_train, columns=['image_index', 'manufacturer_train'])
#manufacturer_trainval_label
manufacturer_trainval_file_path = os.path.join(data_dir, 'images_manufacturer_trainval.txt')
with open(manufacturer_trainval_file_path, 'r') as man_trainval:
    img_man_trainval = [line.strip().split(' ', 1) for line in man_trainval]
df_man_trainval = pd.DataFrame(img_man_trainval, columns=['image_index','manufacturer_trainval'])
#manufacturer_val_label
manufacturer_val_file_path = os.path.join(data_dir, 'images_manufacturer_val.txt')
with open(manufacturer_val_file_path, 'r') as man_val:
    img_man_val = [line.strip().split(' ', 1) for line in man_val]
df_man_val = pd.DataFrame(img_man_val, columns=['image_index','manufacturer_val'])

***Next step:***  
**Create composite data frame** 
Populate a 'segment' column with the type of segment represented in that DF, for example: train, test, validate. The composite data frame will have segment column from which to sort the data. (Can also use images_val.txt, etc).

I'm I went ahead and included the trainval column  for simplicity even though we can just filter by the training and validation columns to combine them.

In [119]:
#define list of all the dataframes created above
df_names = [df_img_boxes,df_fam_test,df_fam_train, df_fam_val, df_fam_trainval,
            df_var_test,df_var_train,df_var_val,df_var_trainval, df_man_test,df_man_train,
            df_man_val,df_man_trainval]

In [120]:
#creating empty dataframe in order to merge all the dataframes in df_names together
comp_df = pd.DataFrame(columns=["image_index"])

#iterates through df_names and merges on 'image_index', the outer method ensures each label
#addresses each image_index value

for df in df_names:
    comp_df = pd.merge(comp_df, df, on = 'image_index', how='outer')

In [121]:
comp_df

,image_index,bound_box_x1,bound_box_y1,bound_box_x2,bound_box_y2,family_test,family_train,family_val,family_trainval,variant_test,variant_train,variant_val,variant_trainval,manufacturer_test,manufacturer_train,manufacturer_val,manufacturer_trainval
0,0034309,1,35,895,672,NaN,NaN,DC-8,DC-8,NaN,NaN,DC-8,DC-8,NaN,NaN,Douglas Aircraft Company,Douglas Aircraft Company
1,0034958,1,181,845,560,NaN,NaN,Boeing 737,Boeing 737,NaN,NaN,737-200,737-200,NaN,NaN,Boeing,Boeing
2,0037511,59,218,902,574,NaN,NaN,DC-9,DC-9,NaN,NaN,DC-9-30,DC-9-30,NaN,NaN,McDonnell Douglas,McDonnell Douglas
3,0037512,89,223,858,519,Boeing 737,NaN,NaN,NaN,737-200,NaN,NaN,NaN,737-200,NaN,NaN,NaN
4,0038598,117,2,969,724,NaN,MD-11,MD-11,MD-11,NaN,MD-11,NaN,MD-11,NaN,McDonnell Douglas,NaN,McDonnell Douglas
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,2265625,16,199,1286,633,NaN,NaN,Embraer E-Jet,Embraer E-Jet,NaN,NaN,E-190,E-190,NaN,NaN,Embraer,Embraer
9996,2266079,16,309,1288,640,Fokker 100,NaN,NaN,NaN,Fokker 100,NaN,NaN,NaN,Fokker 100,NaN,NaN,NaN
9997,2266334,8,169,1007,519,NaN,NaN,Falcon 2000,Falcon 2000,NaN,NaN,Falcon 2000,Falcon 2000,NaN,NaN,Dassault Aviation,Dassault Aviation
9998,2266336,9,170,1014,523,Cessna Citation,NaN,NaN,NaN,Cessna 525,NaN,NaN,NaN,Cessna 525,NaN,NaN,NaN
9999,2266584,25,134,1007,521,NaN,SR-20,SR-20,SR-20,NaN,SR-20,NaN,SR-20,NaN,Cirrus Aircraft,NaN,Cirrus Aircraft